body {
  background-color: #E0E0E0;
  color: #333333;
  font-family: "Helvetica Nueu",Helvetica,Arial,sans-serif;
  line-height: 18px;
}

#page {
  font-size: 0.8em;
  line-height: 1.5em;
  max-width: 100%;
}

#header {
  background-color: #010080;
  background-repeat: repeat-x;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  border-bottom: none;
  height: 120px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.header__region {
  width: 90%;
}

#block-nice-menus-7 {
  float: left;
  margin-left: 165px;
  margin-top: -30px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

#logo {
  float: left;
  margin-left: 45px;
}

/* --------- Top Menu Navigation ---------- */
#menu-nav {
  float: left;
  margin-left: 10px;
  margin-top: 65px;
}

ul.nice-menu-down li.menuparent {
  background: url("/sites/all/modules/nice_menus/images/arrow-down.png") no-repeat scroll right center #010080;
  border: 0;
}

ul.nice-menu-down li.menuparent:hover {
  background: #010080 url("/sites/all/modules/nice_menus/images/arrow-down.png") right center no-repeat; /* LTR */
}

ul.nice-menu-down .menuparent a {
  color: #FFFFFF;
  float: none;
  line-height: 19px;
  padding-left: 10px;
  text-decoration: none;
}

ul.nice-menu li {
  background: #010080;
  border: none;
}

ul.nice-menu-down ul li {
  background: gray;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: block;
}

ul.nice-menu-down ul li a {
  color: #555555;
  display: block;
  font-weight: normal;
  line-height: 18px;
  padding: 3px 15px;
}

.nice-menu-show-title {
  color: black;
  font-size: 14pt;
  font-style: italic;
}

ul.nice-menu a {
  color: white;
  text-decoration: none;
}

#main {
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  position: relative;
  width: 92%;
  z-index: 1;
}

#bottom-container {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  width: 92%;
}

#left-bottom {
  float: left;
  height: 150px;
  padding-left: 20px;
  width: 47%;
}

#right-bottom {
  float: left;
  height: 150px;
  margin-left: 2%;
  padding-right: 20px;
  width: 46%;
}

#footer {
  color: black;
  font-size: 12pt;
  padding: 1em 0 0;
  text-align: center;
}

#block-block-5 {
  margin-top: -10px;
}

#footer p {
  margin-bottom: 2px;
}

#footer a {
  color: blue;
}

.job-title {
  color: blue;
}

.field-name-field-photo {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

#left-bottom .block ul {
  margin-left: 20px;
}

#right-bottom .block ul {
  margin-left: 20px;
}

.sidebar-first div.block {
  padding-left: 10px;
}

.sidebar-first h2.title {
  text-align: left;
  margin-bottom: -5px;
}

.sidebar-second #content {
  width: 72%;
}

.sidebar-second .region-sidebar-second {
  margin-left: 74%;
}

h3.member-name {
  text-align: center;
}

#block-block-4 {
  float: left;
  margin-left: 45%;
  margin-top: -115px;
}

#block-commerce-cart-cart {
  color: black;
  float: left;
  margin-left: 20px;
  margin-top: -100px;
}

#block-commerce-cart-cart h2 {
  color: white;
}

.views-field-mail {
  padding-bottom: 20px;
}

h2 {
  color: #444;
  font-size: 1.3em;
  line-height: normal;
}

/*----- Online Election Ballots (MACAC and NACAC Delegates) ------ */
h2.ballot-title {
  color: #000;
  font-size: 2em;
  padding: 0;
}

img.election-bio {
  float: left;
  margin-left: 20px;
  padding-right: 10px;
}

#edit-submitted-president-write-in-candidate-wrapper {
  margin-left: 15px;
  margin-top: -10px;
} 

#edit-submitted-treasurer-write-in-candidate-wrapper {
  margin-left: 15px;
  margin-top: -10px;
}

#edit-submitted-treasurer-one-year-write-in-candidate-wrapper {
  margin-left: 15px;
  margin-top: -10px;
}

#edit-submitted-post-secondary-write-in-candidate-wrapper {
  margin-left: 15px;
  margin-top: -10px;
}

#edit-submitted-nacac-write-in-candidate-wrapper {
  margin-left: 15px;
  margin-top: -10px;
}

#block-block-6 {
  float: right;
  margin-right: 50px;
}

#bottom-container a:link, a:visited {
  text-decoration: none;
}

#footer a:link, a:visited {
  text-decoration: none;
}

ul.nice-menu-right, ul.nice-menu-left, ul.nice-menu-right li, ul.nice-menu-left li {
  width: 100%;
}